@tailwind base;
@tailwind components;
@tailwind utilities;
@import "reset.css";

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

select option[value=""][disabled] {
  display: none;
}

select:required:invalid {
  @apply text-fontWeak;
}

body {
  @apply text-lg text-fontDefault;
}

.headerFont {
  @apply text-xl font-semibold;
}

.primaryButtonDefault {
  @apply bg-primary text-white rounded-md w-64 py-2 mx-auto;
}

.primaryButtonSmall {
  @apply bg-primary text-white w-14 h-9 my-auto ml-auto rounded-md;
}

.smallFont {
  @apply text-base;
}

.authHeader {
  @apply h-24 flex justify-center items-center headerFont text-center;
}

.mainBackGround {
  @apply bg-gradient-to-b from-white to-[#ECF9EF];
}

.custom-page-name {
  @apply font-bold text-3xl mb-2;
}